*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}

.headline{
  color: gray;
  padding: 20px;
}

main{
  width: 840px;
  margin: 50px auto;
}

.webcamp1{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.webcamp2{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.webcamp3{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.webcamp4{
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
}